
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="@ScriptUrl("~/assets/js/flexible.1.1.1.js")"></script>
    <title>Index</title>
    @*<link rel="stylesheet" href="@StyleUrl("~/assets/css/smc_home.css")" type="text/css">*@
    @RenderStyle("~/assets/css/smc_home.css")
</head>
<body>
    <div> 
        aaa
    </div>
</body>
</html>
